/* @start tail.DateTime */
.taildatetimecalendar {
  width: 275px;
  height: auto;
  margin: 15px;
  padding: 0;
  display: block;
  overflow: hidden;
  position: absolute;
  border-collapse: separate;
  font-family: "Open Sans", Calibri, Arial, sans-serif;
  background-color: #ffffff;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3125);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3125); */
  border-radius: 20px;
  -webkit-border-radius: 20px;
}
.taildatetimecalendar:after {
  clear: both;
  content: "";
  display: block;
  font-size: 0;
  visibility: hidden;
}
.taildatetimecalendar.calendarstatic {
  margin-left: auto;
  margin-right: auto;
}
.taildatetimecalendar .calendarnavi {
  width: 100%;
  margin: 0;
  padding: 0;
  display: table;
  border-spacing: 0;
  border-collapse: separate;
  /* background-color: #cd283c; */
  border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
}
.taildatetimecalendar .calendarnavi span {
  cursor: pointer;
  /* color: #fff; */
  color: #484848;
  margin: 0;
  padding: 0;
  display: table-cell;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.15);
  background-repeat: no-repeat;
  background-position: center center;
}
.taildatetimecalendar .calendarnavi span:firstchild,
.taildatetimecalendar .calendarnavi span:lastchild {
  width: 35px;
  padding: 0 0 5px 0;
  font-size: 22px;
}
.taildatetimecalendar .calendarnavi span:hover {
  background-color: rgba(0, 0, 0, 0.15);
}
.taildatetimecalendar .calendarnavi span.buttonprev {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC\
    9zdmciIHdpZHRoPSI2IiBoZWlnaHQ9IjE2IiB2aWV3Qm94PSIwIDAgNiAxNiI+PHBhdGggZmlsbD0iI2ZmZmZmZiIgZD0iT\
    TYgMkwwIDhsNiA2VjJ6Ii8+PC9zdmc+");
}
.taildatetimecalendar .calendarnavi span.buttonnext {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC\
    9zdmciIHdpZHRoPSI2IiBoZWlnaHQ9IjE2IiB2aWV3Qm94PSIwIDAgNiAxNiI+PHBhdGggZmlsbD0iI2ZmZmZmZiIgZD0iT\
    TAgMTRsNi02LTYtNnYxMnoiLz48L3N2Zz4=");
}
.taildatetimecalendar .calendarnavi span.buttoncheck {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC\
    9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDEyIDE2Ij48cGF0aCBmaWxsPSIjZmZmZmZmIiBkP\
    SJNMTIgNWwtOCA4LTQtNCAxLjUtMS41TDQgMTBsNi41LTYuNUwxMiA1eiIvPjwvc3ZnPg==");
}
.taildatetimecalendar .calendarnavi span.buttonclose {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC\
    9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDEyIDE2Ij48cGF0aCBmaWxsPSIjZmZmZmZmIiBkP\
    SJNNy40OCA4bDMuNzUgMy43NS0xLjQ4IDEuNDhMNiA5LjQ4bC0zLjc1IDMuNzUtMS40OC0xLjQ4TDQuNTIgOCAuNzcgNC4y\
    NWwxLjQ4LTEuNDhMNiA2LjUybDMuNzUtMy43NSAxLjQ4IDEuNDhMNy40OCA4eiIvPjwvc3ZnPg==");
}
.taildatetimecalendar .calendardate {
  margin: 0;
  padding: 0;
  display: block;
}
.taildatetimecalendar .calendardate table {
  width: 100%;
  margin: 0;
  padding: 0;
  border-spacing: 0;
  border-collapse: collapse;
}
.taildatetimecalendar .calendardate table thead tr > *,
.taildatetimecalendar .calendardate table tbody tr > * {
  /* color: #ffffff; */
  color: #484848;
  width: 35px;
  height: 35px;
  padding: 0;
  font-size: 12px;
  text-align: center;
  font-weight: normal;
  line-height: 35px;
  border: 0;
  /* background-color: #223344; */
}
.taildatetimecalendar .calendardate table tbody tr > * {
  color: #334455;
  cursor: pointer;
  position: relative;
  font-size: 14px;
  background-color: #ffffff;
}
.taildatetimecalendar .calendardate table tbody tr > * > span {
  color: inherit;
  z-index: 10;
  position: relative;
}
/* Select a Day */
.taildatetimecalendar .calendardate table tbody tr > *::after {
  top: 3px;
  left: 3px;
  width: 29px;
  height: 29px;
  content: "";
  display: block;
  position: absolute;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}
.taildatetimecalendar .calendardate table tbody tr > *.today {
  color: #3296c8;
}
.taildatetimecalendar .calendardate table tbody tr > *.today:after {
  border-color: #3296c8;
}
.taildatetimecalendar .calendardate table tbody tr > *:hover {
  color: #484848;
}
.taildatetimecalendar .calendardate table tbody tr > *:hover:after {
  border-color: #484848;
}
.taildatetimecalendar .calendardate table tbody tr > *.empty,
.taildatetimecalendar .calendardate table tbody tr > *.disable {
  color: #8899aa;
  cursor: not-allowed;
  background-color: #efefef;
}
.taildatetimecalendar .calendardate table tbody tr > *.empty:hover:after,
.taildatetimecalendar .calendardate table tbody tr > *.disable:hover:after {
  content: "";
  display: none;
}
.taildatetimecalendar .calendardate table tbody tr > *.current span {
  color: #fff;
}
.taildatetimecalendar .calendardate table tbody tr > *.current:after {
  border-color: #3296c8;
  /* background-color: #3296c8; */
  background-color: #ffffff;

}
/* Select A Month */
.taildatetimecalendar .calendardate table.calendarmonth tbody tr > * {
  width: 81.66666666666667px;
  padding: 5px;
  line-height: 25px;
}
.taildatetimecalendar .calendardate table.calendarmonth tbody tr > * span {
  display: block;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 3px;
  -webkit-border-radius: 3px;
}
.taildatetimecalendar
  .calendar-date
  table.calendar-month
  tbody
  tr
  > *:hover
  span {
  border-color: #d0d0d0;
  box-shadow: 0 1px 0 0 #efefef;
  -webkit-box-shadow: 0 1px 0 0 #efefef;
}
/* Select a Time */
.taildatetimecalendar .calendartime {
  width: 100%;
  margin: 0;
  padding: 0;
  display: table;
  text-align: center;
  background-color: #ffffff;
  border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
}
.taildatetimecalendar .calendardate + .calendartime {
  border-top: 1px solid #d0d0d0;
  background-color: #f8f8f8;
}
.taildatetimecalendar .calendartime .calendarfield {
  width: 33.3333333333%;
  padding: 10px 0;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: top;
}
.taildatetimecalendar .calendartime .calendarfield:firstchild {
  text-align: right;
}
.taildatetimecalendar .calendartime .calendarfield:firstchild:after {
  top: 12px;
  right: -10px;
  content: ":";
  position: absolute;
}
.taildatetimecalendar .calendartime .calendarfield:lastchild {
  text-align: left;
}
.taildatetimecalendar .calendartime .calendarfield:lastchild:after {
  top: 12px;
  left: -10px;
  content: ":";
  position: absolute;
}
.taildatetimecalendar .calendartime .calendarfield input[type="number"] {
  width: 100%;
  max-width: 50px;
  margin: 0;
  padding: 3px 4px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: #d0d0d0;
  background-color: #ffffff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
}
.taildatetimecalendar
  .calendar-time
  .calendar-field
  input[type="number"]:hover {
  border-color: #a0a0a0;
}
.taildatetimecalendar
  .calendar-time
  .calendar-field
  input[type="number"]:focus {
  border-color: #3296c8;
}
.taildatetimecalendar .calendartime .calendarfield label {
  /* color: #778899; */
  color: #ffffff;
  margin: 5px 0 0 0;
  padding: 0;
  display: block;
  font-size: 12px;
  line-height: 12px;
}
/* @end tail.DateTime */
