.newcal {
  position:absolute;
  top: 34%;
  margin-top: 12%;
  right: 12%;
  height: 450px;
  width: 650px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3125);
  font-family: "Open Sans", Calibri, Arial, sans-serif;
  border-color: #484848;
  border-width: thick;
  display: grid;
  grid-template-areas: "calnights  .  calcheckin  calcheckout"
                       "calstaydates  calstaydates  .  ."
                       ".  .  .  ."
                       "calarea  calarea  calarea2  calarea2"
                       "calarea  calarea  calarea2  calarea2"
                       ".  .  .  calclosebutton"
                       ".  .  .  .";

  grid-template-rows: 56px 55px 5px 100px 200px 50px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;

}


.calcheckin {
  font-family: "Open Sans", Calibri, Arial, sans-serif;
  border-color: #484848;
  border-width: thick;
  font-size: 14px;
  text-align: left;
  grid-area: calcheckin;
  padding-left: 20px;
  border-width: thin;
  border-style: solid;
  border-radius: 12px 0px 0px 12px;
  margin-left: 15px;

}

.calcheckout {

  font-family: "Open Sans", Calibri, Arial, sans-serif;
  border-color: #484848;
  border-width: thick;
  font-size: 14px;
  text-align: right;
  grid-area: calcheckout;
  padding-right: 20px;
  border-width: thin;
  border-style: solid;
  border-radius: 0px 12px 12px 0px;
  margin-right: 25px;

}

.calnights {
  font-family: "Open Sans", Calibri, Arial, sans-serif;
  border-color: #222222;
  font-size: 22px;
  grid-area: calnights;
  padding-left: 20px;
  font-weight: bold;
}

.calstaydates {
  font-family: "Open Sans", Calibri, Arial, sans-serif;
  border-color: #717171;
  font-size: 14px;
  grid-area: calstaydates;
  padding-left: 20px;
}

.calclosebutton {
  font-family: "Open Sans", Calibri, Arial, sans-serif;
  color: #ffffff;
  background-color: #222222;
  font-size: 14px;
  grid-area: calclosebutton;
  padding: 3px 15px 3px 15px;
  border-radius: 8px;
  margin-left: 65px;
}

.calbr {
  /* background-color: #ffffff; */
  grid-area: calclosebutton;
}

.calarea {
  font-family: "Open Sans", Calibri, Arial, sans-serif;
  border-color: #222222;
  font-size: 14px;
  grid-area: calarea;
}

.calarea2 {
  font-family: "Open Sans", Calibri, Arial, sans-serif;
  border-color: #222222;
  font-size: 14px;
  grid-area: calarea2;
}
